<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">&copy;&nbsp;&nbsp;Copyright Centennial College - Tingting Guo - 300881046 - COMP229 - Assignment 2</a>
      </div>
      
    </nav>
    </footer>