<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
  

<!-- Content for About Me page -->
<div style="background-color: lavender;text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;margin-left: auto;margin-right: auto;width: 1024px;">
  <br><br>
  <img src="Assets/images/Tingtingguo.jpg" alt="TingtingGuo Photo" style="float: right;margin-left: 10px;margin-right: 20px; width: 200px; height: 300px;">
  <h2>About Tingting Guo</h2>
<p style="font-size: large;color:blue">I am a student in the Software Engineering Technology Program at Centennial College.<br>
  Previously, I worked as travel consultant in a travel agency for more than 5 years.</p>
  <ul style="text-align: left; font-size: medium;">
    <li>Hard-working, self-motivated and excellent team player, also able to work individually</li>
    <li>Strong adaptability in a dynamic business environment</li>
    <li>Knowledge of Software Development Life Cycle - Agile, Waterfall, Spiral, V-shaped and Iterative</li>
    <li>Knowledge of Java, C#, SQL, JavaScript, Python</li>
  </ul>
   <h4>Tingting Guo's Resume</h4>
   <button onclick="location.href='/Assets/images/TingtingGuoResume_com229.pdf';"><i class="fa-solid fa-file-arrow-down">&nbsp;Download</i></button>
   <br><br><br><br>
</div>

    
<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>