<%- include('partials/header'); -%>
<%- include('partials/main_nav'); -%>
  
<!-- Content for Contact Page -->
<div class="container" style="background-color: lavender; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center;">
   <form action="mailto:tguo4@my.centennialcollege.ca" method="post">
      <fieldset>
         <legend>Contact Me</legend>
         <p>                
            <label for="txtFName">First name: </label>
            <input id="txtFName" name="txtFName" size="25" type="text" required="required" tabindex="1">
         </p>
         <p>                
            <label for="txtLName">Last name: </label>
            <input id="txtLName" name="txtLName" size="25" type="text" required="required" tabindex="3">
         </p>
         <p>                
            <label for="txtEmail">Email: </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="txtEmail" name="txtEmail" size="25" type="email" required="required" tabindex="5">
         </p>
         <p>                
            <label for="txtMessage">Message: </label>
            <textarea id="txtMessage" name="txtMessage" cols="30" rows="7" tabindex="7" placeholder="-- Please leave your comments ---"></textarea>
         </p>
      </fieldset>
      <p>
         <input name="btnSubmit" type="submit" value="Submit" tabindex="9">
         <input type="reset" name="btnReset" value="Clear Form" tabindex="11">
     </p>
     <div class="info">
      <p style="color: #333; margin: 1.5rem 0 2rem 0;">
         <a href="tel:647-892-1318"><i class="fa-solid fa-mobile"></i> Tel: (647)892-1318</a>
      </p>
      <p style="color: #333; margin: 1.5rem 0 2rem 0;">
         <a href="mailto:tguo4@my.centennialcollege.ca"><i class="fa-solid fa-envelope"></i> Email: tguo4@my.centennialcollege.ca</a>
      </p>
     </div>
     <a href="/">Back to Home Page</a>
   </form>
 </div>


   <%-include ('partials/bottom_nav.ejs');%>
<%-include ('partials/footer.ejs');%>   



