<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


<!-- Content for Home page  -->
<br><br>
<h1 style="text-align: center;">Welcome</h1>
<div style="background-color: lavender;">
   <br>
   <h5 style="text-align: center; color: lightskyblue;">Hi, My name is Tingting Guo!</h5>
   <h6 style="text-align: center;">This Express site includes 5 pages: Home, About Me, Projects, Services, and Contact pages. <br>The website is using ExpressJS and implementing the EJS templating engine.</h6>
   <br>
   <a href="/about"><button type="button" class="btn btn-primary" style="margin:0 auto; display: block;">About Me</button></a>
   <br>
</div>


<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>

