<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<!-- Content for Projects Page -->
<div style="background-color: lavender; width: 1024px; height: 1680px; font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; margin-left: auto; margin-right: auto;">
    <br>
    <h2>My project work:</h2>
    <img style="width: 500px; height: 450px;" src="Assets/images/project1.png" alt="Project1">
    <p>Websites about Protected Areas Issues</p>
    <br>
    <img style="width: 500px; height: 450px;" src="Assets/images/project2.png" alt="Project2">
    <p>E-commerce database tables</p>
    <br>
    <img style="width: 500px; height: 450px;" src="Assets/images/project3.png" alt="Project3">
    <p>Online evaluation form</p>
    <br><br><br>
  </div>


<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%> 


