<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


<!-- Context for Services Page -->
<div class="container" style="background-color: lavender; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center;">
   <br>
   <h2 style="color: brown;">Web design services that I can provide</h2>
   <p>You can get a unique website design from an excellent web designer that is ideal for your business or personl website. I can collaborate with you to develop a design that is consistent with your brand and provide a pleasurable user experience for you.</p>
   <img src="Assets/images/service.jpg" alt="Service Photo">
   <br><br>
 </div>


   <%-include ('partials/bottom_nav.ejs');%>
<%-include ('partials/footer.ejs');%>   


